.sprint-grid {   
    width: 100%;
}
.sprint-grid th a {
color: #2e2e2e;
text-decoration: none;
}
.sprint-grid .pagination {
    margin: 0;
}
.grid-pager-pagenumber, .grid-pager-total {
    margin-top: -2px;
}
.search {
    padding: 4px 20px!important;
    width: 181px;
    background: #FFF url(../Images/magglass.png) no-repeat 5px 8px;
    outline: none;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial, Sans-Serif, Lucida Sans;
    margin: 0;
    color: #000;
    border: 1px solid #C0CAD5;
}

.filter-panel-title {
    padding-right: 5px;
}
.filter-background {
     outline: none;
     background-image: url("../Images/filter-icon.png");
     background-repeat: no-repeat;
     display: inline-block;
     height: 23px;
     line-height: 23px;
     vertical-align: text-top;
     width: 27px;
     cursor: pointer;
}
.filter-background-white {
    background-position: 0px -25px;
}
.filter-background-white:hover {
    background-position: 0px 0px;
}

.filter-icon {
     background-image: url("../Images/filter-icon.png");
     background-repeat: no-repeat;
     display: inline-block;
     height: 23px;
     line-height: 23px;
     width: 27px;
     cursor: pointer;
}
.f-filter {
    background-position: 0px -321px;
}
.f-column {
    background-position: 0px -177px;
}
.f-save {
    background-position: 0px -207px;
}
.f-clear {
    background-position: 0px -375px;
}
.f-excel {
    background-position: 0px -402px;
}
.filter-panel table td {
    padding-right: 3px;
}
.filter-panel {
    margin-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #E2E4E6;
    width: 223px;
}

.details {
    font-size: 8pt;
    color: #555;
    clear: both;
    margin: 0;
}
.item1, .item2 {
    float: left;
    width: 334px;
}
ul.columnorder li {
    margin: 0 3px 3px 0;
    padding: 0.4em;
    padding-left: 1.5em;
    padding-top:0.5em;
    height: 20px;
    width:300px;
    color: #333;
    text-align: left;
    vertical-align: bottom;
    font-weight: 400;
    font-size: 12px;
    background-color:White;
    border: 1px solid #C0D7E0;
}
.columnorder {
    margin-left: 0;
}
.columnorder li.dragging 
{ 
    overflow:hidden; 
    border:0.2em solid #08c; background:#fff;
	box-shadow:rgba(0,0,0,.5) 0 1px 7px; 
	-webkit-box-shadow:rgba(0,0,0,.5) 0 1px 7px; 
	-moz-box-shadow:rgba(0,0,0,.5) 0 1px 7px; 
	-o-box-shadow:rgba(0,0,0,.5) 0 1px 7px; 
	-khtml-box-shadow:rgba(0,0,0,.5) 0 1px 7px;
	border-radius:1px; 
	-webkit-border-radius:1px; 
	-moz-border-radius:1px; 
	-o-border-radius:1px; 
	-khtml-border-radius:1px;
}
.indent10 {
    margin-left: 10px;
}
.horizontal-filter dt {
    float: left;
    width: 90px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 5px;
    text-align: left;
}
.horizontal-filter dd {
    float: left;
}
.input-medium {
    width: 190px;
}
.grid-column-wrap {
    padding-right: 16px;
}
th.sorted .grid-column-wrap {
    padding-right: 0;
}

.sprint-grid, .grid-group-wrap {
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}