@model Sprint.Filter.IFilterView
@{
    Layout = null;
    ViewData["Values"] = Model.Values.FirstOrDefault();
    ViewData["ConditionKey"] = Model.ConditionKey;
}
<dl class="horizontal-filter">
    <dt>
        <label>@Model.Title</label>
    </dt>
    <dd>
        @Html.DropDownListFor(x => x.ConditionKey, Model.GetConditions(), new { @class = "input-medium" })
    </dd>
    <dd>
        @Html.DropDownListFor(x=>x.Values,Model.Dictionary,"", new { @class = "input-large" })
    </dd>
    @Html.HiddenFor(x=>x.TypeName)
</dl>