@model Sprint.Filter.IFilterView
@{
    Layout = null;
    ViewData["ConditionKey"] = Model.ConditionKey;
}
<dl class="horizontal-filter">
    <dt>
        <label>@Model.Title</label>
    </dt>
    <dd>
        @Html.DropDownListFor(x=>x.ConditionKey,Model.GetConditions(),new{@class="input-medium"})
    </dd>
    <dd>
        @Html.TextBoxFor(x=>x.LeftValue)
    </dd>
    @Html.HiddenFor(x=>x.TypeName)
</dl>