@model IEnumerable<SelectListItem>
@{
    var gridKey = ViewData["gridKey"].ToString();
}
<ul class="saved-filters">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Text, "GetState", new { id = item.Value, gridKey = gridKey }, new { data_load_grid_state = gridKey, @class = @item.Selected ? "selected" : "" })
                <a class="delete" data-filter-delete="@Url.Action("DeleteState", new { Id = item.Value, gridKey = gridKey })"><i class="icon-trash"></i> </a>
            </li>
        }
    }
    else
    {
        <li class="empty">Empty.</li>
    }
</ul>