@model IEnumerable<SelectListItem>
@{
    var filterKey = ViewData["filterKey"].ToString();
}
<ul class="saved-filters">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Text, "GetState", new { id = item.Value, key = filterKey }, new { @class = String.Format("load-filter {0}", @item.Selected ? "selected" : "") })
                <a class="delete" data-filter-delete="@Url.Action("DeleteState", new { Id = item.Value, key = filterKey })"><i class="icon-trash"></i> </a>                
            </li>
        }
    }
    else
    {
        <li class="empty">Empty.</li>
    }
</ul>