@{    
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            @RenderSection("LeftSidebar", false)
        </div>
        <div class="span9">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts{
    @RenderSection("Scripts", false)
}
@section Styles{
    @RenderSection("Styles", false)
}
