@model Sprint.Filter.IFilterCollectionView
@{
    Layout = null;
}
<h4>Filters:</h4>
@using (Ajax.BeginForm(Model.Action, Model.Controller, Model.RouteValues, new AjaxOptions {UpdateTargetId = Model.UpdateTargetId}))
{
    foreach (var key in Model.Filters.Keys)
    {
        var template = Model.Filters[key].TemplateName;
        @Html.EditorFor(f => Model.Filters[key], template)
    }
    <div class="clearfix"></div>
    <div class="filter-collection-bottom">
        <button type="submit" class="btn btn-primary">Apply</button>
        @Html.ActionLink("Clear", "ClearFilter",null,new{@class="btn"})
    </div>
}